<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h1>Iniciar sesión</h1>
    </div>

    <div class="login-form">
      <div class="control-group">
        <input
          type="text"
          class="login-field"
          [(ngModel)]="user"
          placeholder="Usuario"
          id="login-name"
        />
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>

      <div class="control-group">
        <input
          type="password"
          class="login-field"
          [(ngModel)]="pass"
          placeholder="Contraseña"
          id="login-pass"
        />
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>

      <a class="btn btn-primary btn-large btn-block" (click)="iniciarSesion()"
        >login</a
      >
      <a
        class="login-link"
        [routerLink]="['/Login']"
        routerLinkActive="router-link-active"
        >¿Olvido su contraseña¡?</a
      >
    </div>
  </div>

  <div>
    <p>Acceso usuario</p>
    <ul>
      <li>Usuario : usuario</li>
      <li>Contraseña: usuario1</li>
    </ul>

    <p>Acceso administrador</p>
    <ul>
      <li>Usuario : admin</li>
      <li>Contraseña: admin1</li>
    </ul>
  </div>
</div>
